/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-size: 16px;
    line-height: 28px;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/* Self defined */

a {
    color: indianred;
}

    a:hover {
        color: lightcoral;
    }

    a .logo:hover {
        color: indianred;
    }

img {
    max-width: 100%;
    max-height: 100%;
}

.img-h200 {
    height: 200px;
}

.img-rounded {
    border-radius: 50%;
}

.img-footer {
    height: 24px;
    margin: 2px;
}

    .img-footer:hover {
        opacity: 1;
        background-color: indianred;
    }

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.coral {
    color: indianred;
}

.lightcoral {
    color: indianred;
    opacity: 0.3;
}

.title {
    font-family: brandon_grotesqueblack;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 1px;
}

.subtitle {
    text-transform: uppercase;
    font-family: brandon_grotesqueblack;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo {
    display: inline-block;
    font-family: 'brandon_grotesqueblack';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

.lite {
    opacity: 0.3;
}

.responsive {
    width: 100%;
    height: auto;
}

.ht-20 {
    height: 20px;
}

.ht-50 {
    height: 50px;
}

.card ul {
    padding-left: 0;
    list-style-type: none;
}

.short-line::after {
    margin: 30px 0;
    content: '';
    width: 50px;
    border-bottom: 1px solid #ccc;
    display: block;
}

.remark {
    font-style: italic;
    font-size: smaller;
}

.mt-nav {
    margin-top: 3rem !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

    .material-icons.md-18 {
        font-size: 18px;
    }

    .material-icons.md-24 {
        font-size: 24px;
    }

    .material-icons.md-36 {
        font-size: 36px;
    }

    .material-icons.md-48 {
        font-size: 48px;
    }
